allow hal_power_default perfd:process signull;
allow hal_power_default system_data_file:lnk_file { open read };
allow hal_power_default atmelts:file { open read write };
allow hal_power_default system_data_root_file:lnk_file { open read };
