type hal_nubia_touch, domain;
hal_server_domain(hal_nubia_touch, hal_lineage_touch)

type hal_nubia_touch_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_nubia_touch)
