allow hal_ir_default sysfs:file { open write getattr };
allow hal_ir_default consumer_ir_device:chr_file { ioctl open read write };
allow hal_ir_default system_app:unix_stream_socket { connectto };
