allow init sysfs_leds:lnk_file read;
allow init { atmelts_exec touchp_exec atmelts }:file { getattr open write setattr };
allow init sysfs:file { open read setattr };
allow init { hidl_base_hwservice hal_power_stats_hwservice }:hwservice_manager { add };
allow init hwservicemanager:binder { call transfer };
allow init system_data_root_file:lnk_file { open read };
