allow qti_init_shell bluetooth_loader_exec:file { open read };
allow qti_init_shell smem_log_device:chr_file { open read write ioctl };
allow qti_init_shell qti_init_shell:socket { create ioctl };
allow qti_init_shell diag_device:chr_file { open read write ioctl };
allow qti_init_shell qmuxd_socket:dir { create add_name setattr write };
allow qti_init_shell qmuxd_socket:sock_file { setattr };
allow qti_init_shell system_data_file:lnk_file { create unlink };
allow qti_init_shell kmsg_device:chr_file { open write };
allow qti_init_shell btnvtool_exec:file { open read  getattr execute execute_no_trans };
allow qti_init_shell atmelts:file { open write getattr setattr };
allow qti_init_shell bluetooth_data_file:file { open read getattr };
allow qti_init_shell atmelts_exec:file { open read };
allow qti_init_shell kernel:system { syslog_read };