allow servicemanager hal_power_default:dir { open read search };
allow servicemanager hal_power_default:process getattr;
allow servicemanager hal_power_default:file { open read };
