allow wcnss_service self:capability { net_raw setgid setuid };
allow wcnss_service sensors:file { open read getattr };
get_prop(wcnss_service, diag_prop)
